<div
  *ngIf="
    this.getUrl().valueOf() === '/register' ||
      this.getUrl().valueOf() === '/login';
    then empty;
    else navbar
  "
></div>

<ng-template #navbar>
  <nav
    class="border-gray-200 mx-w-screen-xl bg-green-primary h-16 px-2 sm:px-4 py-2.5"
  >
    <div
      class="container flex justify-evenly flex-wrap absolute -top-4 text-brown-secundary items-center mx-auto"
    >
      <a href="#" class="flex items-center pt-3">
        <img
          src="../../../assets/Logotipo 500x500 px (2).png"
          class="h-24"
          alt="MoonPets Logo"
        />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap dark:text-white md:hover:text-brown-tertiary"
          >MoonPets</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <div
        class="hidden w-full md:block md:w-auto bg-green-primary"
        id="navbar-default"
      >
        <ul
          class="flex flex-col p-4 mt-4 bg-green-primary -lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <li>
            <a
              href="http://localhost:4200/home"
              class="block py-2 pr-4 pl-3 text-brown-secundary rounded md:bg-transparent md:hover:text-brown-tertiary md:p-0 dark:text-white"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <a
              href="http://localhost:4200/animal-list"
              class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-brown-tertiary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Animal Section</a
            >
          </li>
          <div
            *ngIf="this.isShelter() == 'shelter'; then animalForm; else empty"
          ></div>
          <ng-template #animalForm>
            <a
              href="http://localhost:4200/animal-form"
              class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-brown-tertiary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Animal Form</a
            >
          </ng-template>
          <li>
            <a
              href="http://localhost:4200/me"
              class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-brown-tertiary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Profile</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-brown-tertiary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-row-reverse mr-20">
      <div *ngIf="this.loggedIn() === true; then account; else signUp"></div>

      <ng-template #account>
        <button
          id="dropdownInformationButton"
          data-dropdown-toggle="dropdownInformation"
          class="text-white z-10 bg-brown-tertiary hover:bg-brown-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="button"
        >
          Bienvenido, {{ user.name
          }}<svg
            class="ml-2 w-4 h-4"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>

        <div
          id="dropdownInformation"
          class="hidden z-10 w-44 bg-brown-secundary rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
        >
          <div class="py-3 px-4 text-sm text-gray-900 dark:text-white">
            <div class="w-10 h-10"><img src="{{ user.picture }}" alt="" /></div>

            <div class="font-medium truncate">{{ user.email }}</div>
          </div>
          <ul
            class="py-1 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownInformationButton"
          >
            <li>
              <a
                href="#"
                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Settings</a
              >
            </li>
            <li>
              <a
                href="http://localhost:4200/me"
                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Mi cuenta</a
              >
            </li>
            <div
              *ngIf="this.isShelter() == 'shelter'; then shelter; else empty"
            ></div>
            <ng-template #shelter>
              <a
                href="http://localhost:4200/shelter"
                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Peticiones</a
              >
            </ng-template>
          </ul>
          <div class="py-1">
            <button
              (click)="this.logOut()"
              class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
            >
              Cerrar sesion
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template #signUp>
        <button
          id="dropdownInformationButton"
          data-dropdown-toggle="dropdownInformation"
          class="w-25 text-white bg-brown-tertiary hover:bg-brown-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="button"
          (click)="this.signIn()"
        >
          Inicia sesión<svg
            class="ml-2 w-4 h-4"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          ></svg>
        </button>
      </ng-template>
    </div>
  </nav>
</ng-template>
<ng-template #empty></ng-template>
