<div class="main-wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Register
            </mat-card-title>
        </mat-card-header>
        
        
        <mat-card-content>
            <form [formGroup]="registerForm" autocomplete="off">

                <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>
                            Name
                        </mat-label>

                        <input 
                            matInput 
                            type="text"
                            id="name"
                            formControlName="name"
                            name="name"
                            placeholder="Name" 
                        >
                    </mat-form-field>
                </div>


                <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>
                            Lastname
                        </mat-label>

                        <input 
                            matInput 
                            type="text"
                            id="lastname"
                            formControlName="lastname"
                            name="lastname"
                            placeholder="Lastname" 
                        >
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>
                            Username
                        </mat-label>

                        <input 
                            matInput 
                            type="text"
                            id="username"
                            formControlName="username"
                            name="username"
                            placeholder="Username" 
                        >
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>
                            Email
                        </mat-label>

                        <input 
                            matInput 
                            type="email"
                            id="email"
                            name="email"
                            formControlName="email"
                            placeholder="Your email">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="legacy"> 
                        <mat-label>
                            City
                        </mat-label>
    
                        <input
                            matInput
                            type="text"
                            id="city"
                            formControlName="city"
                            name="city"
                            placeholder="Málaga"
                        >
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Password </mat-label>
                        <input 
                            matInput
                            type="password"
                            placeholder="Enter your password"
                            >
                        <mat-error>Name is required</mat-error>
                        <mat-error>
                            Please enter more than 6 character
                        </mat-error>
                    </mat-form-field>
                </div>
    
                <div>
                    <button mat-raised-button color="primary" type="submit">Register</button>
                </div>
    
            </form>
        </mat-card-content>
    </mat-card>
 </div>

