<div class="title text-3xl m-carousel font-text font-extrabold mt-20">
    <i class="fa-solid fa-triangle-exclamation text-brown-primary text-5xl"></i>
    Emergency Animals
  </div>
  <div
    class="flex items-center justify-center py-24 sm:py-8 px-4 w-carousel m-carousel"
  >
    <div class="w-full relative flex items-center justify-center">
      <button
        aria-label="slide backward"
        class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
        (click)="goPrev('slider')"
      >
        <svg
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 1L1 7L7 13"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
        <div
          id="slider"
          class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700"
        >
          <div
            class="flex flex-shrink-0 relative w-full sm:w-auto"
            *ngFor="let animal of animals"
          >
            <img
              src="../../../assets/perro2.jpg"
              alt="black chair and white table"
              class="object-cover object-center w-96 h-carousel"
            />
            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
              <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">
                {{ animal.age }}
              </h2>
              <div class="flex h-full items-end pb-6">
                <h3
                  class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white"
                >
                  {{ animal.name }}
                </h3>
              </div>
            </div>
          </div>
          <div
            class="flex flex-shrink-0 relative w-full sm:w-auto"
            *ngFor="let animal of animals"
          >
            <img
              src="../../../assets/perro2.jpg"
              alt="black chair and white table"
              class="object-cover object-center w-96 h-carousel"
            />
            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
              <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">
                {{ animal.age }}
              </h2>
              <div class="flex h-full items-end pb-6">
                <h3
                  class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white"
                >
                  {{ animal.name }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        aria-label="slide forward"
        class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
        (click)="goNext('slider')"
      >
        <svg
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1L7 7L1 13"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="title text-3xl m-carousel font-text font-extrabold mt-20 -mb-36">
    <i class="fa-solid fa-location-dot text-brown-primary text-5xl"></i> Near You
  </div>
  <div
    class="flex items-center justify-center h-full py-24 sm:py-8 px-4 w-carousel m-carousel"
  >
    <div class="w-full relative flex items-center justify-center">
      <button
        aria-label="slide backward"
        class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
        (click)="goPrev('slider_geo')"
      >
        <svg
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 1L1 7L7 13"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
        <div
          id="slider_geo"
          class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700"
        >
          <div
            class="flex flex-shrink-0 relative w-full sm:w-auto"
            *ngFor="let animal of animals"
          >
            <img
              src="../../../assets/perro2.jpg"
              alt="black chair and white table"
              class="object-cover object-center w-96 h-carousel"
            />
            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
              <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">
                {{ animal.age }}
              </h2>
              <div class="flex h-full items-end pb-6">
                <h3
                  class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white"
                >
                  {{ animal.name }}
                </h3>
              </div>
            </div>
          </div>
          <div
            class="flex flex-shrink-0 relative w-full sm:w-auto"
            *ngFor="let animal of animals"
          >
            <img
              src="../../../assets/perro2.jpg"
              alt="black chair and white table"
              class="object-cover object-center w-96 h-carousel"
            />
            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
              <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">
                {{ animal.age }}
              </h2>
              <div class="flex h-full items-end pb-6">
                <h3
                  class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white"
                >
                  {{ animal.name }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        aria-label="slide forward"
        class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
        (click)="goNext('slider_geo')"
      >
        <svg
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1L7 7L1 13"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>