<div class="p-16">
  <div class="p-8 bg-white shadow mt-24">
    <div class="grid grid-cols-1 md:grid-cols-3">
      <div class="relative">
        <div
          class="ml-profile w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500"
        >
          <img src="{{ user.picture }}" class="w-48 h-48 rounded-full" />
        </div>
      </div>
    </div>
    <div class="mt-20 text-center border-b pb-12">
      <h1 class="text-4xl font-medium text-gray-700">
        {{ user.name }} {{ user.surname }} {{ user.value }}
        <span class="font-light text-gray-500">27</span>
      </h1>
      <p class="font-light text-gray-600 mt-3">{{ user.city }}</p>

      <p class="mt-8 text-gray-500">{{ user.email }}</p>
      <p class="mt-2 text-gray-500">{{ user.username }}</p>
    </div>

    <div class="mt-12 flex flex-col justify-center">
      <p class="text-gray-600 text-center font-light lg:px-16">
        No me importa si un animal es capaz de razonar. Sólo sé que es capaz de
        sufrir, y por ello lo considero mi prójimo. -Albert Schweitzer
      </p>
    </div>
  </div>
</div>
