<!-- 
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MoonPets | Personal information</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <span>Logout</span>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


 <mat-drawer-container class="example-container">
  <mat-drawer class="side-nav" mode="side" opened>
    <mat-list>
      <mat-list-item>User profile</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card class="example-card">
      <mat-card-title-group>
        <img class="pic" mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        <mat-card-title>Bienvenido {{user.username}}</mat-card-title>
        <mat-card-subtitle>Nombre:  {{user.name}}</mat-card-subtitle>
        <mat-card-subtitle>Apellidos: {{user.surname}}</mat-card-subtitle>
        <mat-card-subtitle>Email: {{user.email}}</mat-card-subtitle>
        <mat-card-subtitle>Ciudad: {{user.city}}</mat-card-subtitle>
        
      </mat-card-title-group>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container> -->

<div class="p-16">
  <div class="p-8 bg-white shadow mt-24">
    <div class="grid grid-cols-1 md:grid-cols-3">
      <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
        <div>
          <p class="font-bold text-gray-700 text-xl">22</p>
          <p class="text-gray-400">Friends</p>
        </div>
        <div>
          <p class="font-bold text-gray-700 text-xl">10</p>
          <p class="text-gray-400">Photos</p>
        </div>
        <div>
          <p class="font-bold text-gray-700 text-xl">89</p>
          <p class="text-gray-400">Comments</p>
        </div>
      </div>
      <div class="relative">
        <div
          class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
          <img src={{user.picture}} class="w-48 h-48 rounded-full" />
        </div>
      </div>

      <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
        <button
          class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
          Connect
        </button>
        <button
          class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
          Message
        </button>
      </div>
    </div>
    <div class="mt-20 text-center border-b pb-12">
      <h1 class="text-4xl font-medium text-gray-700">
        {{ user.name }} {{ user.surname }} {{ user.value }}
        <span class="font-light text-gray-500">27</span>
      </h1>
      <p class="font-light text-gray-600 mt-3">{{ user.city }}</p>

      <p class="mt-8 text-gray-500">{{ user.email }}</p>
      <p class="mt-2 text-gray-500">{{ user.username }}</p>
    </div>

    <div class="mt-12 flex flex-col justify-center">
      <p class="text-gray-600 text-center font-light lg:px-16">
        An artist of considerable range, Ryan — the name taken by
        Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
        records all of his own music, giving it a warm, intimate feel with a
        solid groove structure. An artist of considerable range.
      </p>
      <button class="text-indigo-500 py-2 px-4 font-medium mt-4">
        Show more
      </button>
    </div>
  </div>
</div>