<div
  class="container inline-block mx-auto p-9 bg-white max-w-sm rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300"
>
  <img class="rounded-xl" src="../../../../assets/shelter.jpg" alt="" />
  <div class="flex justify-between items-center mt-1">
    <div class="">
      <h1 class="mt-5 text-2xl text-black font-semibold">{{ shelter.name }}</h1>
      <div class="flex jusfity-evenly">
        <p class="mt-2 text-gray-2 gap-5s">{{ shelter.city }}</p>
      </div>
    </div>
    <div></div>
  </div>
</div>
