<div class="main-wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        
        
        <mat-card-content>
            <form [formGroup]="loginForm" autocomplete="off">

                <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>
                            Email
                        </mat-label>

                        <input 
                            matInput 
                            type="email"
                            id="email"
                            name="email"
                            formControlName="email"
                            placeholder="Your email">
                    </mat-form-field>
                </div>

    
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Password </mat-label>
                        <input 
                            matInput
                            type="password"
                            id="password"
                            formControlName="password"
                            name="password"
                            placeholder="Enter your password"
                            >
                        <mat-error>Name is required</mat-error>
                        <mat-error>
                            Please enter more than 6 character
                        </mat-error>
                    </mat-form-field>
                </div>
    
                <div>
                    <button mat-raised-button color="primary" (click)="login()" type="submit">Login</button>
                    
                        <button id="google" type="button" (click)="loginWithGoogle()" mat-flat-button color="primary" class="btn-block google-button">
                            Login google
                        </button>
                        
                            <div id="g_id_onload"
                            data-client_id="107038177183-tfbn4vpe57du6invbfh2lbrubcpotpvt.apps.googleusercontent.com"
                            data-context="signin"
                            data-ux_mode="popup"
                            data-callback="http://localhost:4200/login"
                            data-itp_support="true">
                        </div>

                        <div class="g_id_signin"
                            data-type="standard"
                            data-shape="rectangular"
                            data-theme="outline"
                            data-text="signin_with"
                            data-size="large"
                            data-logo_alignment="left">
                        </div>


                        
                    
                </div>
    
            </form>
        </mat-card-content>
    </mat-card>
 </div>