<div class="main-wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        
        
        <mat-card-content>
            <form [formGroup]="loginForm" autocomplete="off">

                <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>
                            Email
                        </mat-label>

                        <input 
                            matInput 
                            type="email"
                            id="email"
                            name="email"
                            formControlName="email"
                            placeholder="Your email">
                    </mat-form-field>
                </div>

    
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Password </mat-label>
                        <input 
                            matInput
                            type="password"
                            id="password"
                            formControlName="password"
                            name="password"
                            placeholder="Enter your password"
                            >
                        <mat-error>Name is required</mat-error>
                        <mat-error>
                            Please enter more than 6 character
                        </mat-error>
                    </mat-form-field>
                </div>
    
                <div>
                    <button mat-raised-button color="primary" (click)="login()" type="submit">Login</button>
                </div>
    
            </form>
        </mat-card-content>
    </mat-card>
 </div>