<nav class="bg-white border-gray-200 mx-w-screen-xl bg-green-primary h-16 px-2 sm:px-4 py-2.5 rounded">
  <div class="container flex justify-evenly flex-wrap absolute -top-4 text-brown-secundary items-center mx-auto">
    <a href="#" class="flex items-center pt-3">
      <img src="../../../assets/Logotipo 500x500 px (2).png" class="h-24 " alt="MoonPets Logo" />
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">MoonPets</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#"
            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
            aria-current="page">Home</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div class="carousel bg-green-secundary"> -->
<!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let animal of animals" class="slide">
      <img alt="" />
      <div class="info">
        <div class="name">{{ animal.name }},</div>

        <div class="place">{{ this.getAge(animal.birthdate) }}</div>
      </div>

      <button (click)="animalCard()">Ver perfil</button>
    </div>
  </ngx-slick-carousel> -->
<!-- </div> -->
<div class="wrapper flex before:w-w-hero before:h-h-hero before:absolute before:bg-hero-gradient before:content-['']">
  <!-- <img
    src="https://media.istockphoto.com/photos/happy-smiling-pet-dog-puppy-web-banner-with-copy-space-picture-id1024626456?b=1&k=20&m=1024626456&s=170667a&w=0&h=a1QAyqA7nWgyon4dPeAwHD_d2kTK4p_Uj9z8k547Mws="
    class="w-w-hero"> -->
  <img src="../../../assets/hero.jpg" class="w-w-hero ">
</div>
<div class="content">
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed consequuntur quis ex iure, deserunt
    temporibus accusamus amet in voluptate, unde, rem natus dicta laboriosam quibusdam aperiam! Reiciendis, iusto
    nostrum.a
    <div class="buttons">
    </div>
  </div>
</div>
<div class="image ">

</div>