<nav
  class="bg-white border-gray-200 mx-w-screen-xl bg-green-primary h-16 px-2 sm:px-4 py-2.5 rounded"
>
  <div
    class="container flex justify-evenly flex-wrap absolute -top-4 text-brown-secundary items-center mx-auto"
  >
    <a href="#" class="flex items-center pt-3">
      <img
        src="../../../assets/Logotipo 500x500 px (2).png"
        class="h-24"
        alt="MoonPets Logo"
      />
      <span
        class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
        >MoonPets</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            href="#"
            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >About</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Services</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Pricing</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div class="carousel bg-green-secundary"> -->
<!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let animal of animals" class="slide">
      <img alt="" />
      <div class="info">
        <div class="name">{{ animal.name }},</div>

        <div class="place">{{ this.getAge(animal.birthdate) }}</div>
      </div>

      <button (click)="animalCard()">Ver perfil</button>
    </div>
  </ngx-slick-carousel> -->
<!-- </div> -->
<div
  class="wrapper flex before:w-w-hero before:h-h-hero before:absolute before:bg-hero-gradient before:content-['']"
></div>
<div class="content flex justify-center text-center">
  <div class="text w-96 absolute right-r-text top-t-text">
    <div class="title text-3xl font-extrabold text-gray-2 font-title mb-3">
      AYUDANOS!
    </div>
    <div class="description font-text font-bold">
      Un granito de arena puede parecer pequeño e insignificante pero muchos
      granitos reunidos pueden hacer una montaña gigante. Por favor súmate a
      esta buena causa, tu aporte es importante. Por pequeño que parezca puede
      ayudar en grande.
    </div>

    <div class="buttons">
      <button
        type="button"
        class="mt-4 focus:outline-none text-button bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      >
        Donar
      </button>
    </div>
  </div>
</div>
<div class="image">
  <img src="../../../assets/hero.jpg" class="w-w-hero h-h-hero object-cover" />
</div>
<div class="title text-3xl m-carousel font-text font-extrabold mt-20">
  <i class="fa-solid fa-triangle-exclamation text-brown-primary text-5xl"></i>
  Emergency Animals
</div>
<div
  class="flex items-center justify-center py-24 sm:py-8 px-4 w-carousel m-carousel"
>
  <div class="w-full relative flex items-center justify-center">
    <button
      aria-label="slide backward"
      class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
      (click)="goPrev()"
    >
      <svg
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 1L1 7L7 13"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
      <div
        id="slider"
        class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700"
      >
        <div
          class="flex flex-shrink-0 relative w-full sm:w-auto"
          *ngFor="let animal of animals"
        >
          <img
            src="../../../assets/perro2.jpg"
            alt="black chair and white table"
            class="object-cover object-center w-96 h-carousel"
          />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">
              {{ animal.age }}
            </h2>
            <div class="flex h-full items-end pb-6">
              <h3
                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white"
              >
                {{ animal.name }}
              </h3>
            </div>
          </div>
        </div>
        <div
          class="flex flex-shrink-0 relative w-full sm:w-auto"
          *ngFor="let animal of animals"
        >
          <img
            src="../../../assets/perro2.jpg"
            alt="black chair and white table"
            class="object-cover object-center w-96 h-carousel"
          />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">
              {{ animal.age }}
            </h2>
            <div class="flex h-full items-end pb-6">
              <h3
                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white"
              >
                {{ animal.name }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      aria-label="slide forward"
      class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
      (click)="goNext()"
    >
      <svg
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 1L7 7L1 13"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</div>
<div class="title text-3xl m-carousel font-text font-extrabold mt-20 -mb-36">
  <i class="fa-solid fa-location-dot text-brown-primary text-5xl"></i> Near You
</div>
<div
  class="flex items-center justify-center h-full py-24 sm:py-8 px-4 w-carousel m-carousel"
>
  <div class="w-full relative flex items-center justify-center">
    <button
      aria-label="slide backward"
      class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
      (click)="goPrev()"
    >
      <svg
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 1L1 7L7 13"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
      <div
        id="slider"
        class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700"
      >
        <div
          class="flex flex-shrink-0 relative w-full sm:w-auto"
          *ngFor="let animal of animals"
        >
          <img
            src="../../../assets/perro2.jpg"
            alt="black chair and white table"
            class="object-cover object-center w-96 h-carousel"
          />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">
              {{ animal.age }}
            </h2>
            <div class="flex h-full items-end pb-6">
              <h3
                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white"
              >
                {{ animal.name }}
              </h3>
            </div>
          </div>
        </div>
        <div
          class="flex flex-shrink-0 relative w-full sm:w-auto"
          *ngFor="let animal of animals"
        >
          <img
            src="../../../assets/perro2.jpg"
            alt="black chair and white table"
            class="object-cover object-center w-96 h-carousel"
          />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">
              {{ animal.age }}
            </h2>
            <div class="flex h-full items-end pb-6">
              <h3
                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white"
              >
                {{ animal.name }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      aria-label="slide forward"
      class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
      (click)="goNext()"
    >
      <svg
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 1L7 7L1 13"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</div>
