<div
  class="wrapper flex before:w-w-hero before:h-h-hero before:absolute before:bg-hero-gradient before:content-['']"
></div>
<div class="content flex justify-center text-center">
  <div class="text w-96 absolute right-r-text top-t-text">
    <div class="title text-3xl font-extrabold text-gray-2 font-title mb-3">
      AYUDANOS!
    </div>
    <div class="description font-text font-bold">
      Un granito de arena puede parecer pequeño e insignificante pero muchos
      granitos reunidos pueden hacer una montaña gigante. Por favor súmate a
      esta buena causa, tu aporte es importante. Por pequeño que parezca puede
      ayudar en grande.
    </div>

    <div class="buttons">
      <button
        type="button"
        class="mt-4 focus:outline-none text-button bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      >
        Donar
      </button>
    </div>
  </div>
</div>
<div class="image">
  <img src="../../../assets/hero.jpg" class="w-w-hero h-h-hero object-cover" />
</div>
<app-animals-landing></app-animals-landing>
