.slick-slider {
  width: 88%;
  margin: auto;
  background: rgb(210, 18, 18);
}
.carousel{
  margin: calc();
}
body .slick-prev, 
body .slick-next {
  height: 45px;
  width: 40px;
  background: grey !important;
  z-index: 100;
}

