<section
  class="max-w-4xl p-6 mx-auto bg-brown-tertiary rounded-md shadow-md dark:bg-gray-800 mt-20"
>
  <div
    class="text-4xl font-text tracking-wide font-bold text-white dark:text-white flex justify-center"
  >
    Formulario de registro animal
  </div>
  <form [formGroup]="animalForm">
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
      <div>
        <label
          class="text-white font-bold font-text text-xl dark:text-gray-200"
          for="name"
          >Nombre</label
        >
        <input
          id="name"
          type="text"
          name="name"
          formControlName="name"
          class="block h-12 border-none w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600"
        />
      </div>

      <div>
        <label
          class="text-white dark:text-gray-200 font-bold font-text text-xl"
          for="birthdate"
          >Fecha nacimiento</label
        >
        <input
          id="birthdate"
          type="date"
          name="birthdate"
          formControlName="birthdate"
          class="block h-12 border-none w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600"
        />
      </div>

      <div>
        <label
          class="text-white font-bold font-text text-xl dark:text-gray-200"
          for="weight"
          >Peso</label
        >
        <input
          id="weight"
          type="number"
          name="weight"
          formControlName="weight"
          class="block h-12 border-none w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600"
        />
      </div>

      <div>
        <label
          class="text-white dark:text-gray-200 font-bold font-text text-xl"
          for="breed"
          >Raza</label
        >

        <ng-select formControlName="breed" class="h-12 border-none">
          <ng-option *ngFor="let breed of breeds" [value]="breed.id">
            {{ breed.name }}
          </ng-option>
        </ng-select>
      </div>
      <div>
        <label
          class="text-white font-bold font-text text-xl dark:text-gray-200 h-12 border-none"
          for="gender"
          >Género</label
        >
        <ng-select formControlName="gender">
          <ng-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
          </ng-option>
        </ng-select>
      </div>
      <div>
        <label
          class="text-white dark:text-gray-200 font-bold font-text text-xl"
          for="gender"
          >Tamaño</label
        >
        <ng-select formControlName="size">
          <ng-option *ngFor="let size of sizes" [value]="size">
            {{ size }}
          </ng-option>
        </ng-select>
      </div>

      <div>
        <label
          class="text-white dark:text-gray-200 font-bold font-text text-xl"
          for="description"
          >Descripcion</label
        >
        <textarea
          id="description"
          type="textarea"
          name="description"
          formControlName="description"
          class="block h-textarea border-none w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600"
        ></textarea>
      </div>
      <div>
        <div
          class="flex mt-upload-top justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md my-5"
        >
          <div class="space-y-1 text-center">
            <svg
              class="mx-auto h-12 w-12 text-white"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 48 48"
              aria-hidden="true"
            >
              <path
                d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <div class="flex text-sm text-gray-600">
              <label
                for="file-upload"
                class="relative cursor-pointer bg-white rounded-md font-medium text-black"
              >
                <span class="">Upload a file</span>
                <input
                  id="file-upload"
                  formControlName="image"
                  name="file-upload"
                  type="file"
                  class="sr-only"
                />
              </label>
              <p class="pl-1 text-white">or drag and drop</p>
            </div>
            <p class="text-xs text-white">PNG, JPG, GIF up to 10MB</p>
          </div>
        </div>
      </div>
      <div class="inline-flex items-center">
        <input
          id="urgent"
          formControlName="urgent"
          type="checkbox"
          class="w-4 h-4 bg-gray-100 rounded border-gray-300"
        />
        <label
          for="checked-checkbox"
          class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Urgente
        </label>
        <div class="flex items-center ml-5">
          <input
            id="dewormed"
            formControlName="dewormed"
            type="checkbox"
            class="w-4 h-4 bg-gray-100 rounded border-gray-300"
          />
          <label
            for="default-checkbox"
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Desparasitado
          </label>
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-6">
      <button
        (click)="saveValues()"
        class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-green-secundary rounded-md hover:bg-green-primary"
      >
        Save
      </button>
    </div>
  </form>
</section>
