<div
  class="container mx-auto my-5 p-9 bg-white h-screen max-w-6xl rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300"
  *ngIf="animal">
  <div class="flex">
    <div class="flex-auto w-96 max-w-2xl">
      <img class="rounded-xl" src="../../../../assets/perro2.jpg" alt="" />
      <div class="mt-12">
        <p class="font-text font-bold text-lg">
          {{animal.description}}
        </p>
      </div>
    </div>

    <div class="w-72">
      <div class="flex flex-col">
        <div class="flex flex-row justify-start gap-2">
          <div class="inline-flex ml-5">
            <p class="font-text text-4xl font-bold">{{ animal.name }} </p>
          </div>
          <div class="inline-flex mt-3">
            <p class="font-text font-bold text-xl"> {{ this.getAge(animal.birthdate) }} años</p>
          </div>
        </div>
      </div>

      <div class="flex flex-row ml-7 w-72">

        <div class="flex flex-col w-96">
          <div class="inline-flex my-6">
            <p class="font-text font-bold text-md"><i class="fa-solid fa-cake-candles"></i> {{
              this.parseBirthdate(animal.birthdate) }} </p>
          </div>
          <div class="inline-flex my-6">
            <p class="font-text font-bold text-md"><i class="fa-solid fa-location-dot"></i> Malaga </p>
          </div>
          <div class="inline-flex my-6">
            <p class="font-text font-bold text-md"><i class="fa-solid fa-weight-scale"></i> {{ animal.weight }} kg</p>
          </div>
        </div>

        <div class="flex flex-col">
          <div class="inline-flex my-6">
            <p class="font-text font-bold text-md"><i class="fa-solid fa-arrow-up-small-big"></i> {{animal.size }} </p>
          </div>
          <div class="inline-flex my-6">
            <p class="font-text font-bold text-md"><i class="fa-solid fa-venus-mars"></i> {{animal.gender === 'female' ?
              'Hembra' : 'Macho'}} </p>
          </div>
          <div class="inline-flex my-6">
            <p class="font-text font-bold text-md"><i class="fa-solid fa-worm"></i> {{ animal.dewormed ? 'Desparasitado'
              : 'No desparasitado' }}</p>
          </div>
        </div>
      </div>
      <div>
        <button type="button" class="focus:outline-none 
        text-white
        w-96
        mx-7 
        mt-24
        bg-green-primary 
        hover:bg-green-800 
        focus:ring-4 focus:ring-green-300 
        font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
          Adoptame
        </button>
      </div>


    </div>

  </div>
</div>
<app-footer></app-footer>